/* БЛОК HEADER */
.top-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;
}

.menu__ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;
}

.menu__li a {
  font-size: 14px;
  color: #505050;
}

.menu__li a:hover {
  color: #000;
  border-bottom: 2px solid #000;
}

.menu__li_active a {
  color: #000;
  border-bottom: 2px solid #000;
}

.top-panel__logo {
  text-align: center;
}

.panel__logo_top {
  font-size: 20px;
  font-weight: 500;
}

.panel__logo_botton {
  font-size: 14px;
  font-weight: 500;
}

.search-basket {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}

.search {
  width: 155px;
}

.search__block {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #D9D9D9;
  padding: 10px 20px;
  border-radius: 10px;
  width: 100%;
}

.search__text {
  width: 100%;
  background: #D9D9D9;
  outline: none;
}

.search__img {
  background: none;
  cursor: pointer;
  position: relative;
  top: 2px;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 540px;
  background: #F7F6F0;
  gap: 20px;
}

.header-content__content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  flex-basis: 285px;
  padding: 0 10px;
}

.header-content__name {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 2px solid #000;
}

.header-content__woman-img {
  height: 500px;
}

@media (max-width:1050px) {
  .no-show_1050 {
    display: none;
  }
}

@media (max-width:800px) {
  .header-content {
    height: 340px;
  }

  .no-show_800 {
    display: none;
  }
}

/* БЛОК HEADER */
/* БЛОК SECTION 1 */
.Card-block-1 {
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: [s-left] repeat(3, 1fr) [s-right];
  gap: 20px;
  padding: 45px;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.block__more {
  background: #F7F6F0;
  padding: 12px 30px;
  border-radius: 20px;
}

.block__img {
  width: 100%;
}

.block__h3 {
  font-size: 28px;
}

.block__p {
  line-height: 24px;
}

.block-title {
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  grid-column: s-left / s-right;
  padding: 60px 0;
}

/* БЛОК SECTION 1 */

/* БЛОК SECTION 2 */
.section2 {
  height: 540px;
  background: #F7F6F0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 60px;
}

.section2__img {
  height: 300px;
}

.section2-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
}

.section2-block__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section2-block__h2 {
  font-size: 42px;
}

.section2-block__link {
  background: #fff;
  padding: 12px 30px;
  border-radius: 20px;
  cursor: pointer;
}

@media (max-width:1300px) {
  .section2 {
    height: 440px;
  }

  .section2__img {
    height: 250px;
  }
}

@media (max-width:1150px) {
  .section2 {
    height: 350px;
  }

  .section2__img {
    height: 200px;
  }
}

@media (max-width:1000px) {
  .section2 {
    height: 300px;
  }

  .section2__img {
    display: none;
  }
}

/* БЛОК SECTION 2 */

/* БЛОК SECTION 3 */
.section3 {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  margin-top: 60px;
}

.section3__h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
}

.section3__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;

}

.section3__li {
  font-size: 28px;
  padding: 20px 40px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
}

.section3__li:hover {
  background: #F7F6F0;
}

.section3__li-text:hover {
  border-bottom: 3px solid #000;
  padding-bottom: 5px;
}

.section3__li_active {
  background: #F7F6F0;
}

.section3__li_active .section3__li-text {
  border-bottom: 3px solid #000;
  padding-bottom: 5px;
}

.section3__block {
  display: grid;
  grid-template-columns: [s-left] repeat(3, 1fr) [s-right];
  gap: 20px;
  background: #F7F6F0;
  padding: 45px;
  border-radius: 10px;
}

.section3__itme {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.section3__img {
  width: 100%;
}

.section3__p {
  line-height: 24px;
}

.section3__see-more {
  grid-column: s-left / s-right;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.section3__link {
  background: #fff;
  padding: 12px 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

/* БЛОК SECTION 3 */
/* БЛОК SECTION 4 */
.section4 {
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "T1 T1 T1"
    "B1 B2 B3"
    "B4 B2 B5"
    "T2 T2 T2"
    "B6 B7 B8";
  gap: 25px;
  padding: 0 45px;
  margin-bottom: 45px;
}

.item-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.item-top__span {
  font-weight: bold;
  margin: 0 0 15px 15px;
}

.item-top__link {
  background: #F7F6F0;
  padding: 10px;
  border-top-left-radius: 10px;
}

.section4__title1 {
  grid-area: T1;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  padding: 60px 0;
}

.section4__title2 {
  grid-area: T2;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  padding: 60px 0;
}

.section4__block1 {
  grid-area: B1;
  background: url(/img/Frame13.png) no-repeat center;
  background-size: cover;
  height: 335px;
}

.section4__block2 {
  grid-area: B2;
  background: url(/img/Frame14.png) no-repeat center;
  background-size: cover;
}

.section4__block3 {
  grid-area: B3;
  background: url(/img/Frame15.png) no-repeat center;
  background-size: cover;
  height: 335px;
}

.section4__block4 {
  grid-area: B4;
  background: url(/img/Frame16.png) no-repeat center;
  background-size: cover;
  height: 335px;
}

.section4__block5 {
  grid-area: B5;
  background: url(/img/Frame17.png) no-repeat center;
  background-size: cover;
  height: 335px;
}

.section4__block6 {
  grid-area: B6;
}

.section4__block7 {
  grid-area: B7;
}

.section4__block8 {
  grid-area: B8;
}

.item-botton {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #F7F6F0;
  border-radius: 10px;
  padding: 25px 35px 15px 35px;
}

.item-botton__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.item-botton__img {
  width: 100%;
  margin-bottom: 25px;
}

.item-botton__ul {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

/* БЛОК SECTION 4 */
/* БЛОК SECTION 5 */
.section5 {
  background: #F7F6F0;
  padding: 75px 170px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.section5__block {
  flex: 1;
  padding: 70px;
}

.section5__block_content {
  border-right: 1px solid #000;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
}


.section5__h3 {
  font-size: 42px;
  text-align: center;
}

.section5__ul {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.section5__li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.section5__span {
  font-size: 22px;
  font-weight: 500;
}

.section5__block_form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.section5__block_form input {
  text-align: center;
  padding: 6px 0;
}

.section5__block_submit {
  background: #fff;
  border-radius: 20px;
  width: 140px;
  height: 45px;
  align-self: center;
  cursor: pointer;
}

.section5__block_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.section5__block_butImg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #fff;
  border-radius: 20px;
  padding: 10px 30px;
  cursor: pointer;
}

.section5__block_div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 30px 0;
}

.section5__block_span {
  margin: 0 10px;
}

.section5__block_lini {
  display: block;
  width: 100%;
  border-top: 2px solid #000;
}

/* БЛОК SECTION 5 */
/* БЛОК FOOTER */
.footer-blocks {
  padding: 50px 100px;
}

.footer-blocks__logo {
  align-self: center;
  text-align: center;
  font-size: 18px;
}

.footer-blocks__logo_top {
  font-size: 2em;
  font-weight: 500;
}

.footer-blocks__logo_botton {
  font-size: 1em;
  font-weight: 500;
}

.footer-blocks__block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 105px;
}

.footer-blocks__ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-blocks__ul_links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-blocks__links {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.footer-blocks__policy {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.footer-blocks__panelB {
  width: 100%;
  padding: 15px 0;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
}

.footer-blocks__panelB_p {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

/* БЛОК FOOTER */